<h1>Bem vindo!!</h1>
{{hj}}

<div class="card mt-4 ">
    <div class="card-body ">
       <div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Lista de usuarios cadastrados</h5>
        <p class="card-text">Pagina dedicada a usuarios ja cadastrados no sistema</p>
        <a href="/admin/listaUsuarios" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Pagina de cadastros</h5>
        <p class="card-text">Pagina dedicada a realização de cadastros no sistema</p>
        <a href="/admin/addUsuarios" class="btn btn-primary">Visitar</a>
      </div>
    </div>
  </div>
</div>
    </div>
</div>