<h2>Usuarios Cadastrados</h2>
<hr>
<a href="/admin/addUsuarios" ><button class="btn btn-light">Cadastrar</button></a>

{{#each usuario}}

    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>EMAIL: {{email}}</small> <br>
            <small>Criação: {{date}}</small><br>
            <a href="/admin/editarUsuarios/{{_id}}"><button class="btn btn-success mt-4">Editar</button></a>
        </div>
    </div>


  

    
{{/each}}