<h1>Seja bem vindo!!!</h1>
<h2>Programação RPC</h2>
<div class = "lista">
  <ul >
    {{#each prog }}
      
      <li><img src = {{this.custom_info.Graficos.LogoURL}}> {{tempo this.human_start_time}} {{this.title }}</li>
      
    {{/each}}
    
  </ul>
</div>


